:root {
  --tt-input-placeholder: var(--muted-foreground);
  --tt-input-border: var(--border);
  --tt-input-border-focus: var(--ring);
}

.tiptap-input {
  width: 100%;
  min-width: 0;
  height: 2rem;
  padding: 0.25rem 0.625rem;
  border-radius: var(--tt-radius-md);
  border: 1px solid var(--tt-input-border);
  background: var(--background);
  color: var(--foreground);
  font-size: 1rem;
  outline: none;
  transition:
    color,
    background-color,
    border-color 150ms;

  &::placeholder {
    color: var(--tt-input-placeholder);
  }
}

.tiptap-input:focus-visible {
  border-color: var(--tt-input-border-focus);
}

@media (min-width: 768px) {
  .tiptap-input {
    font-size: 0.875rem;
  }
}
